.card {
  display: flex;
  padding: 60px 40px 59px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--vert, #5fa378);
  box-shadow: 9px 12px 14px 0px rgba(0, 0, 0, 0.25);
}

.card.orange {
  background: var(--orange, #ff864b);

  align-self: stretch;
}

.card.pink {
  display: flex;
  padding: 60px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--rose, #f0979b);
  box-shadow: 9px 12px 14px 0px rgba(0, 0, 0, 0.25);
}
