.challenge-charge {
  display: flex;
  padding: 10px 28px;
  justify-content: center;
  align-items: center;
  gap: -4px;
  flex-shrink: 0;
  border-radius: 74px;
  border: 2px solid var(--rose, #f0979b);
  background: none;
  margin-bottom: 60px;
  margin-top: 60px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.challenge-charge:hover {
  background: #f0979b;
  color: #fff;
}
