.help {
  margin-top: 62px;
  display: block;
  text-align: right;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.help:hover {
  color: #5fa378;
}
