@import "base";
@import "layout";
@import "modules/logo";
@import "modules/subtitle";
@import "modules/help";
@import "modules/card";
@import "modules/tag";
@import "modules/text-field";
@import "modules/tag-switch";
@import "bootstrap/scss/bootstrap-grid";

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
